<% if user_signed_in? %>
<h1>Editing Account</h1>

<%= render 'form', todo: @account %>

<%= link_to 'Show', @account, class: 'btn btn-dark mx-1'%>
<%= link_to 'Back', accounts_path, class: 'btn btn-dark mx-2'%>
<% else %>
  <h3><strong>You are not singed in yet.</strong></h3>
<% end %>