<% if user_signed_in? %>
<h1>Creating Account</h1>

<%= render 'form' %>

<%= link_to 'Back', accounts_path, class: 'btn btn-dark mt-3' %>
<% else %>
  <h3><strong>You are not singed in yet.</strong></h3>
<% end %>