<div class="show">
  <h2><strong><%= @category.name %></strong></h2>
  <h5><strong>Description:</strong>
    <%= @category.description %></h5>

  <%= link_to 'Back', categories_path, class: 'btn btn-dark' %>
</div>
