<% if user_signed_in? %>
<div class="show">
  <h2><strong><%= @category.name %></strong></h2>
  <h5><strong>Description:</strong>
    <%= @category.description %></h5>

  <%= link_to 'Back', categories_path, class: 'btn btn-dark' %>
</div>
<% else %>
  <h3><strong>You are not singed in yet.</strong></h3>
<% end %>